body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

.header .user-icon {
    width: 200px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 10px;
}

p {
    font-size: 2em;
    line-height: 1.2;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.017em;
    margin: 10px 0;
}

.form-group {
    margin: 10px 0;
    position: relative;
}

.form-group input {
    width: 101%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    border: 1px #ccc solid;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.555);
    color: rgb(255, 255, 255);
}

.form-group input::placeholder {
    color: rgba(255, 255, 255, 0.952);
}

.form-group input:hover::placeholder {
    color: rgba(0, 0, 0, 0.952);
}

.form-group input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.form-group input:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}




button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

#submit-btn {
    background-color: #0078d7;
    color: white;
}

#cancel-btn {
    width: 139px;
    height: 40px;
    margin-top: 20px;
    background-color: rgba(190, 190, 190, 0.63);
    color: rgb(255, 255, 255);
}

.footer {
    margin-top: 10px;
}

.footer p {
    margin: 5px 0;
    font-size: 0.9em;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

img {
    width: 340px;
    height: 120px;
}

.input-container {
    position: relative;
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the button */
    box-sizing: border-box;
    border: 2px #ffffff;
}

.form-group input-container {
    width: 10px;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    border: 1px #ccc solid;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.555);
    color: rgb(255, 255, 255);
}

.input-button {
    position: absolute;
    right: -2px;
    top: -5px;
    bottom: 0;
    width: 44px;
    border: 0.2px solid #ffffff;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.input-button::before {
    content: "→";
    color: #ffffff;
    font-size: 25px; /* Adjust as needed */
}

.inpur2 {
    display: flex;
    width: 20px; 
}
